body {
    background-color: #ebebeb;
}

.container {
    margin-top: 5em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: center;
}

.card {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 1px 3px #00000026;
    background-color: #fff;
    box-shadow: 0 1px 3px #00000026;
    border-bottom: 1px solid #00000026;
    max-width: 18em;
    padding: 1em;
    cursor: pointer;
    color: #000000b8;
    display: flex;
    flex-direction: column;
}

.card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
    max-height: 320px;
}

.card:hover .card__image {
    transform: scale(1.05);
}

.card:hover {
    box-shadow: 0 1px 5px 2px #0000001a;
}

.card__header-photo {
    display: flex;
    justify-content: center;
}

.card__header .card__image {
    width: 60%;
    object-fit: contain;
    transition: all .3s;
}

.card__tags{
    display: flex; 
    justify-content: center;
    width: 100%;
    gap: 1.5em;
    min-height: 2.5em;
    align-items: flex-start;
    margin-bottom: 1em;
}

.card__tag--news {
    background-color: #fc0;
}

.card__tag--attribute{
    background-color: #041ca3;
    color: white;
}

.attribute--stroke {
    font-family: 'Inconsolata', monospace;
    background-image: linear-gradient(45deg, rgb(255, 217, 0), rgb(255, 255, 255));
    -webkit-text-stroke: 0.05em #00069f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(3.5);
    padding: 0 1.5em;
    font-weight: 900;
}

.card__tag {
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 8px;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}

.card__stars {
    color: #fc0;
    font-size: 1.5em;
    margin: 0;
}

.card__dots {
    text-decoration: none;
    margin-bottom: 1em;
}

.dot {
    height: 18px;
    width: 18px;
    border: 1px solid #0003;
    border-radius: 50%;
    display: inline-block;
}

.dot--black {
    background-color: black;
}

.dot--grey {
    background-color: #11111126;
}

.dot--pink {
    background-color: rgb(248, 223, 227);
}

.dot--blue {
    background-color: rgb(212, 244, 255);
}

.dot--white {
    background-color: white;
}


/* BODY */
.card__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

}

.card__body .card__heading {
    color: #08c;;
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
    margin: 0;
    flex-grow: 1;
}

.card__body .card__heading:hover {
    text-decoration: underline;
}

.card__body .card__caption {
    color: #7ca600;
    font-size: 14px;
    margin: 1em 0;
}

.card__body .card__description {
    font-size: 12px;
    margin: 0;
    min-height: 60px;
}

.footer__prices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__prices .footer__prices-price--month {
    font-size: 12px;
    display: inline-block;
}

.footer__prices .footer__prices-price--overall {
    font-size: 12px;
    display: inline-block;
}

.footer__prices-price--month strong, .footer__prices-price--overall strong {
    display: block;
    font-size: 20px;
}

.card__footer-text span {
    display: block;
}

.card__footer-text {
    font-size: 12px;
}

.card__cta {
    border: 1px solid;
    box-sizing: border-box;
    padding: 9px 16px;
    background-color: #9c0;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 3px #00000026;
    border-color: #8ebd00 #8ebd00 #7ea800;
}

.card__cta a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.card__cta:hover {
    background-color: #a1d600;
    border-color: #82ad00 #82ad00 #739900;
}